@import '../../../../sass/variables';


#one-place{

    #ReactSimpleImageViewer{
        z-index: 100;
    }
    
    .bottom-controls{
        position: absolute;
        bottom: 0;
    
        @media(max-width: 992px){
            position: static;
        }
    }

    .info-content{
        @media(min-width: 992px){
            height: 500px;

            .img-thumbnail{
                width: 200px;
            }
        }
    }

    .leaflet-container{
        @media(min-width: 992px){
            height: 480px;
        }
    }
}