// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


html, body{
    padding: 0;
    margin: 0;
    font-family: $content-font;
}

h1, h2, h3, h4, h5, h6{
    font-family: $header-font;
}

main{
    width: 100%;
    padding: 100px 30px 0px;
    min-height: 100vh;

    @media(max-width: 300px){
        padding: 100px 10px 0px;
    }

    #cover{
        display: none;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 200px);
        z-index: 99;
    }
}

.fa-spin{
    color: $super-color;
    font-size: 40px;
}

label{
    display: block;
    margin: 0 10px;
}

.form-control{
    border-radius: 0 !important;
}

.btn-primary{
    background-color: $super-color;
    border-color: $super-color;
    border-radius: 0;

    &:hover{
        background-color: $sub-super-color !important;
        border-color: $sub-super-color !important;
    }

    &:focus{
        background-color: $sub-super-color !important;
        border-color: $sub-super-color !important;
    }
}