// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


main{
    min-height: 1200px;
    padding: 100px;
}

label{
    display: block;
    margin: 10px;
}