// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


main{
    min-height: 1000px;
    padding: 100px 50px;
}

label{
    display: block;
    margin: 0 10px;
}

.form-control{
    border-radius: 0 !important;
}

.btn-primary{
    background-color: $super-color;
    border-color: $super-color;
    border-radius: 0;
    &:hover{
        background-color: $sub-super-color !important;
        border-color: $sub-super-color !important;
    }
}