@import '../../../sass/variables';

header{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    
    .navbar{
        background-color: $bg-color !important;
    }

    .collapse a{
        font-weight: bold;
        padding: 5px;
        border: 2px solid transparent;
        border-radius: 20px;
        margin: 0px 10px;

        &:hover{
            border-color: $super-color;
            background: $super-color;
            color: $bg-color !important;
            transition: 0.3s;
        }
    }
}

footer{
    background: #171717;
    width: 100%;
    color: #f0f0f0;
    font-size: 20px;

    a{
        color: #f0f0f0;
    }

    .fab{
        font-size: 70px;
        margin: 20px;
    }

    .copy{
        background-color: #111;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: right;
        padding-right: 70px;
        font-size: 13px;
    }
}