@import '../../../../sass/variables';

#register-form{
    width: 100%;
    max-width: 500px;
    margin: 60px auto;

    .inner-addon:nth-child(1), .inner-addon:nth-child(2){
        margin-bottom: 30px;
    }
    
    h3{
        background: $super-color;
        color: $bg-color;
        padding: 10px 30px;
    }

    .is-valid{
        background-image: none;
    }

    .inner-addon { 
        position: relative; 
    }

    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

    .left-addon .glyphicon  { left:  0px;}
    .right-addon .glyphicon { right: 0px;}

    .left-addon input  { padding-left:  30px; }
    .right-addon input { padding-right: 30px; }
}