

#reset-password-form{
    width: 90%;
    max-width: 600px;
    margin: 100px auto;

    .btn{
        width: 100%;
    }

    .inner-addon { 
        position: relative; 
    }

    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

    .left-addon .glyphicon  { left:  0px;}
    .right-addon .glyphicon { right: 0px;}

    .left-addon input  { padding-left:  30px; }
    .right-addon input { padding-right: 30px; }
}